a/input_handler.txt
a/input_handler_h.txt
a/layout_manager.txt
a/layout_manager_h.txt
a/main.txt
a/output_handler.txt
a/output_handler_h.txt
test2.ase
viet.ase
state.yaml
main.py
build/.cmake/api/v1/query/client-kdevelop/query.json
build/.cmake/api/v1/reply/cmakeFiles-v1-d8dbbd127efb6c688c00.json
build/.cmake/api/v1/reply/codemodel-v2-3df76358c4f8b01aac21.json
build/.cmake/api/v1/reply/directory-.-08234c1a1a9ac190a92e.json
build/.cmake/api/v1/reply/index-2025-11-01T12-41-50-0608.json
build/.cmake/api/v1/reply/target-keydrive-9b0ea3feff094813ffd0.json
build/.cmake/api/v1/reply/target-keydrive_input-10724500dc8a37a569aa.json
build/.cmake/api/v1/reply/target-keydrive_layout-7ef5eb26f10482130c96.json
build/.cmake/api/v1/reply/target-keydrive_output-8a40ecbf13c8224fd8d6.json
build/CMakeCache.txt
build/CMakeFiles/4.0.3-dirty/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.3-dirty/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.3-dirty/CMakeSystem.cmake
build/CMakeFiles/4.0.3-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.3-dirty/CompilerIdCXX/a.out
build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.1/CMakeSystem.cmake
build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.1.1/CompilerIdCXX/a.out
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/keydrive.dir/DependInfo.cmake
build/CMakeFiles/keydrive.dir/build.make
build/CMakeFiles/keydrive.dir/cmake_clean.cmake
build/CMakeFiles/keydrive.dir/compiler_depend.internal
build/CMakeFiles/keydrive.dir/compiler_depend.make
build/CMakeFiles/keydrive.dir/compiler_depend.ts
build/CMakeFiles/keydrive.dir/depend.make
build/CMakeFiles/keydrive.dir/flags.make
build/CMakeFiles/keydrive.dir/link.d
build/CMakeFiles/keydrive.dir/link.txt
build/CMakeFiles/keydrive.dir/main.cpp.o
build/CMakeFiles/keydrive.dir/main.cpp.o.d
build/CMakeFiles/keydrive.dir/progress.make
build/CMakeFiles/keydrive_input.dir/DependInfo.cmake
build/CMakeFiles/keydrive_input.dir/build.make
build/CMakeFiles/keydrive_input.dir/cmake_clean.cmake
build/CMakeFiles/keydrive_input.dir/cmake_clean_target.cmake
build/CMakeFiles/keydrive_input.dir/compiler_depend.internal
build/CMakeFiles/keydrive_input.dir/compiler_depend.make
build/CMakeFiles/keydrive_input.dir/compiler_depend.ts
build/CMakeFiles/keydrive_input.dir/depend.make
build/CMakeFiles/keydrive_input.dir/flags.make
build/CMakeFiles/keydrive_input.dir/input_handler.cpp.o
build/CMakeFiles/keydrive_input.dir/input_handler.cpp.o.d
build/CMakeFiles/keydrive_input.dir/link.txt
build/CMakeFiles/keydrive_input.dir/progress.make
build/CMakeFiles/keydrive_layout.dir/DependInfo.cmake
build/CMakeFiles/keydrive_layout.dir/build.make
build/CMakeFiles/keydrive_layout.dir/cmake_clean.cmake
build/CMakeFiles/keydrive_layout.dir/cmake_clean_target.cmake
build/CMakeFiles/keydrive_layout.dir/compiler_depend.internal
build/CMakeFiles/keydrive_layout.dir/compiler_depend.make
build/CMakeFiles/keydrive_layout.dir/compiler_depend.ts
build/CMakeFiles/keydrive_layout.dir/depend.make
build/CMakeFiles/keydrive_layout.dir/flags.make
build/CMakeFiles/keydrive_layout.dir/layout_manager.cpp.o
build/CMakeFiles/keydrive_layout.dir/layout_manager.cpp.o.d
build/CMakeFiles/keydrive_layout.dir/link.txt
build/CMakeFiles/keydrive_layout.dir/progress.make
build/CMakeFiles/keydrive_output.dir/DependInfo.cmake
build/CMakeFiles/keydrive_output.dir/build.make
build/CMakeFiles/keydrive_output.dir/cmake_clean.cmake
build/CMakeFiles/keydrive_output.dir/cmake_clean_target.cmake
build/CMakeFiles/keydrive_output.dir/compiler_depend.internal
build/CMakeFiles/keydrive_output.dir/compiler_depend.make
build/CMakeFiles/keydrive_output.dir/compiler_depend.ts
build/CMakeFiles/keydrive_output.dir/depend.make
build/CMakeFiles/keydrive_output.dir/flags.make
build/CMakeFiles/keydrive_output.dir/link.txt
build/CMakeFiles/keydrive_output.dir/output_handler.cpp.o
build/CMakeFiles/keydrive_output.dir/output_handler.cpp.o.d
build/CMakeFiles/keydrive_output.dir/progress.make
build/CMakeFiles/progress.marks
build/Makefile
build/cmake_install.cmake
build/compile_commands.json
build/keydrive
build/libkeydrive_input.a
build/libkeydrive_layout.a
build/libkeydrive_output.a
backups/1/input_handler.cpp
backups/1/input_handler.hpp
backups/1/layout_manager.cpp
backups/1/layout_manager.hpp
backups/1/main.cpp
backups/1/output_handler.cpp
backups/1/output_handler.hpp
backups/input_handler (copy 1).py
backups/input_handler.py
backups/keydrive (copy 1).py
backups/keydrive (copy 2).py
backups/keydrive (copy 3).py
backups/keydrive (copy 4).py
backups/keydrive (copy 5).py
backups/keydrive2.py
backups/keydrive3.py
backups/keydrive_clipboard.py
backups/keydrive_working1.py
backups/keydrive_working3.py
backups/keydrive_workingvery1.py
backups/layout_manager (copy 1).py
backups/layout_manager.py
backups/main (copy 1).py
backups/output_handler (copy 1).py
backups/output_handler (with the useless functions).py
backups/output_handler.py
backups/run_3.sh
backups/test.py
backups/type_unicode.sh
__pycache__/input_handler.cpython-313.pyc
__pycache__/layout_manager.cpython-313.pyc
__pycache__/output_handler.cpython-313.pyc
